@tailwind base;
@tailwind components;
@tailwind utilities;


.Companyslogo>img {
  width: 8rem;
  height: 8rem;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Manrope:wght@800&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

.blur {
  position: absolute;
  border-radius: 30%;
  filter: blur(150px);
}

.hero-blur {
  width: 14rem;
  height: 10rem;
  z-index: 40;
}

.congrats-container {
  height: 100vh;
  background-color: #f6f8fa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f1c40f;
  border-radius: 50%;
  z-index: 1;
  animation: confetti 2s ease-in-out infinite;
}

.confetti:nth-child(1) {
  top: 10%;
  left: 20%;
}

.confetti:nth-child(2) {
  top: 20%;
  left: 70%;
}

.confetti:nth-child(3) {
  top: 40%;
  left: 40%;
}

.confetti:nth-child(4) {
  top: 60%;
  left: 80%;
}

.confetti:nth-child(5) {
  top: 80%;
  left: 30%;
}

@keyframes confetti {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 50px);
  }

  100% {
    transform: translate(20px, 100px);
  }
}

.message {
  position: relative;
  z-index: 2;
  text-align: center;
}

.message h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.message p {
  font-size: 1.5rem;
}

.icon-img {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 640px) {}

@media screen and (min-width: 768px) {}